@media (max-width: 768px) {
  body {
    font-size: 0.95rem;
    padding: 10px;
  }

  .profile-img {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }

  .some-class {
    flex-direction: column;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: Times New Roman", Times, serif;
  font-size: 18px; /* یا مثلاً 18px برای بزرگ‌تر */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #111;
}

header {
  background: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
  margin-bottom: 10px;
  border-radius: 8px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.profile-img {
  float: left;
  max-width: 200px;
  height: auto;
  margin: 10px 20px 10px 0; /* فاصله از راست */
}

.clear-text {
  clear: both; /* یا clear: left هم می‌تونه کافی باشه */
}

.project {
  margin-bottom: 50px;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.project h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project .date {
  font-size: 0.9rem;
  color: #777;
}

.project-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px 0;
}

.project p {
  font-size: 1rem;
  line-height: 1.6;
}

